<h2>
  <%= @project.title %>
  <small><%= project_status_label(@project.status) %></small>
</h2>
<p>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
<%= link_to 'Back', projects_path, class: 'btn btn-default' %>

<hr />

<h3>Comments</h3>
<div class="comments">
  <%= render @comments %>
</div>

<%= simple_form_for [@project, @comment], remote: true do |f| %>
  <h3>Post a reply</h3>
  <%= f.input :text, label: false %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>