<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h3>Comments</h3>
<%= render @comments %>

<%= form_for [@project, @comment] do |f| %>
  <h3>Post a reply</h3>
  <div class="field">
    <%= f.text_area :text %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>