<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= project_status_label(@project.status) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h3>Comments</h3>
<div class="comments">
  <%= render @comments %>
</div>

<%= simple_form_for [@project, @comment], remote: true do |f| %>
  <h3>Post a reply</h3>
  <%= f.input :text, label: false %>
  <%= f.submit 'Submit' %>
<% end %>